<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="LoginDbConnectionString" connectionString="Data Source=OVI-PC\SQLEXPRESS;Initial Catalog=Login;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="prmsDbConnectionString" connectionString="Data Source=OVI-PC\SQLEXPRESS;Initial Catalog=prms;Integrated Security=True" providerName="System.Data.SqlClient" />
   
    
    
    <add name="cseRmsDbConnectionString" connectionString="Data Source=OVI-PC\SQLEXPRESS;Initial Catalog=cseRms;Integrated Security=True" providerName="System.Data.SqlClient" />
    
    
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-PRMS-20171211092935.mdf;Initial Catalog=aspnet-PRMS-20171211092935;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="FacultyContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=FacultyContext-20180103192434; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|FacultyContext-20180103192434.mdf" providerName="System.Data.SqlClient" />
    <add name="prmsEntities" connectionString="metadata=res://*/Models.Faculty.csdl|res://*/Models.Faculty.ssdl|res://*/Models.Faculty.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OVI-PC\SQLEXPRESS;initial catalog=prms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="prmsFacultyEntities" connectionString="metadata=res://*/Models.Faculty.csdl|res://*/Models.Faculty.ssdl|res://*/Models.Faculty.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=OVI-PC\SQLEXPRESS;initial catalog=prms;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PRMSContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=PRMSContext-20180103213015; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|PRMSContext-20180103213015.mdf" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthenticationModule" />
    </modules>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.4.0" newVersion="5.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>